.home-cont{
	display: flex;
	justify-content:space-evenly;
	margin-top : 30px;
}

.home-plan{
	margin: 10px;
	width: 20%;
	height: 10%;
	border: 1px solid gray;
	border-radius: 10px;
	padding : 20px;
	text-align: center;
	box-shadow: 5px 5px 10px gray;
	background-color: #EDE4FF;
}

.home-plan hr{
	color: black;
	margin:25px;
}

.home-plan h1,h2{
	color: #A076F9;
	margin: 0;
	padding: 0;
}

.link{
	background-color: #6528F7;
	color: white;
	border: 1px solid #6528F7;
	border-radius: 5px;
	padding: 10px 20px;
	margin: 0;
	transition: 0.5s;
	text-decoration: none;
	font-family: fantasy;
	letter-spacing: 1px;
}

.link:hover{
	box-shadow: 5px 5px 5px gray;
	background-color: #40128B;
}