.Pagos{
	justify-content: space-around;
	display: flex;
	margin-top: 5%;
}

.form{
	background-color: #EDE4FF;
	align-items: center;
	width: 33%;
	padding: 2% 0;
	border: 1px solid gray;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	box-shadow: 5px 5px 5px gray;
}

.form input{
	width: 60%;
	text-align: center;
	margin: 2% 0;
	padding: 3%;
	border:1px solid gray;
	border-radius: 5px;
}

.form label{
	font-size: 20px;
	color: #6528F7;
}

.form button{
	background-color:#6528F7;
	border:1px solid gray;
	border-radius: 5px;
	width: 60%;
	padding: 2% 0;
	color: white;
	font-family: fantasy;
	font-size: 20px;
	transition: 0.5s;
}

.form button:hover{
	background-color: #40128B;
	box-shadow: 5px 5px 5px gray;
}